<!DOCTYPE html>
<html>
<head>
    <title>Document Extractor</title>
</head>
<body>

    <h1>Document Extractor</h1>

    <form
        action="/extract"
        method="POST"
        enctype="multipart/form-data">

        <label>Select Document Type:</label>

        <select name="doc_type">

            <option value="aadhaar">
                Aadhaar
            </option>

            <option value="resume">
                Resume
            </option>

            <option value="passport">
                Passport
            </option>

            <option value="invoice">
                Invoice
            </option>

        </select>

        <br><br>

        <input
            type="file"
            name="document"
            required>

        <br><br>

        <button type="submit">
            Extract Data
        </button>

    </form>

</body>
</html>
